
html, body {margin: 0; height: 100%; overflow: hidden}

/* Blockly styles overrides */
.blocklyMainBackground{
  stroke:none;
}

.blocklyToolboxDiv{
  background-color: rgba(255, 255, 255, 0.2); 
}

.blocklySvg{
  background-color: rgba(0, 0, 0, 0.5);
}